body {
    font-size: 12px;
}
.ftitle {
    font-size: 12px;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.ffoot {
    font-weight: bold;
    padding: 5px 0;
    margin: 20px 30px 0 0;
    float: right;
}

.form1 table {
    width: 100%;
    border: 1px;
}

.form1 table .fieldtitle {
    background-color: #eeeeee;
    color: #333;
    padding: 3px 5px 0 0;
    width: 15%;
    text-align: right;
}

.form1 table .fieldinput {
    width: 35%;
}

.form1 table td .inputtxt {
    width: 88%;
    border: 1px solid #bbb;
    font-size: 12px;
    height: 17px;
}

.form1 table td .selectfield {
    width: 88%;
    border: 1px solid #bbb;
    font-size: 14px;
}

.form2 table {
    width: 100%;
    border: 1px;
}

.form2 table .fieldtitle {
    background-color: #eeeeee;
    color: #333;
    padding: 3px 5px 0 0;
    width: 10%;
    text-align: right;
}

.form2 table .fieldinput {
    width: 23%;
}

.form2 table td .inputtxt {
    width: 88%;
    border: 1px solid #bbb;
    font-size: 12px;
    height: 17px;
}

.form2 table td .selectfield {
    width: 88%;
    border: 1px solid #bbb;
    font-size: 14px;
}

.form2 table td .selectfield {
    width: 88%;
    border: 1px solid #bbb;
    font-size: 14px;
}